@import "reset.css";

body {
    background-color: #0f1324;
    color: #fff;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #f5b62f;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.hero-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: calc(100vh - 60px);
    background: #000 url("../media/brick-wall-unsplash.jpg") center;
    color: #fff;
}

.hero-banner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.7);
}

.hero-banner i {
    position: absolute;
    bottom: 50px;
    font-size: 32px;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

.banner-inner {
    text-align: center;
    z-index: 1;
}

.banner-inner h2 {
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 600;
}

.banner-inner p {
    font-size: 20px;
}

section {
    padding: 30px;
}

section .container {
    width: min(100%, 960px);
    margin-inline: auto;
}

section h3 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f5b62f;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

section p:not(:last-child) {
    margin-bottom: 10px;
}

.about-me {
    background-color: #131c34;
    color: #fff;
}